html {
    scroll-behavior: smooth;
}
body{
    font-size: 20px;
    margin:0;
    padding:0;
}
#nav-bar{
    background-color: rgba(232, 232, 232, 0.4); 
    position: fixed;
    padding: 35px;
    width: 100%;
    right: 0px;
    display: flex; /* Make the nav bar a flex container */
    justify-content: space-between; /* Space between the left and right elements */
    align-items: center; /* Aligns the items vertically in the center */
    box-sizing: border-box; /* Include padding in width */

}
.active {
    color: black; /* Change color of the active nav item */
}
#name-title{
    color: white;
}
ul {
    margin:0;
    overflow: hidden;
    list-style-type: none;
}

li {
    border:black;
    display: inline-block;
    margin-left: 30px;
  }

  #res-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;
    padding: 40px;
  }
  button {
    width: 200px;
    height: 80px;
    background-color: transparent;
    font-family: 'Courier New', cursives;
    border: 5px solid white;
    color: white;
    font-size: 25px;
}

#res-button:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.2)); /* Glow */
    transform: scale(1.0);
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #615c5c; /* Slightly lighter color on hover */
}
#home{
    height: 1000px;
    /* background-color: #9e9898; */
    background-image: url("../images/back2-img.jpg");
    /* background-image: url("../images/holo-abstract-shape_1030945-177.avif"); */
    background-size: cover;
    background-position: center;
    padding: 0;
    /* border-color: red; */
    color: #fff;
    /* font-family: 'Patrick Hand', cursive; */
    font-family: 'Courier New', cursives;
    text-align: center;
}
.typewriter{
    display: flex;
    justify-content: center;
    padding-top: 15em; 
}
.typewriter h1{
    color: #fff;
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Courier New', cursives;
    border-right: .10em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    overflow: hidden;
    animation-delay: 2s;
    animation: typing 3.5s steps(30, end) 1, blinker 0.70s step-end infinite;
}
/* typing */
@keyframes typing{
    from { width: 0 }
    to { width: 30% }
}

@keyframes blinker{
    30% {
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}

/* ---------------------ABOUT ---------------------*/

#about{
    display: flex;
    align-items: center;
    height: 800px; /* Adjust height as needed */
    background-color: rgb(229, 223, 223);
    /* background-color: rgb(161, 175, 215); */
    /* background-image: linear-gradient(to right, rgb(146, 149, 204) , rgb(132, 133, 199),rgb(154, 141, 199),  rgb(174, 164, 211)); */
    padding: 20px;
    color: rgb(50, 50, 50);
}
#center{
    max-width: 900px;
}
#about a{
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-weight: 600;
    /* color: black; */
}
#about a:hover {
    color: #615c5c; 
}
.self{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    /* box-shadow: 0 0 20px 10px rgb(186, 202, 217, 0.6); */
    box-shadow: 0 0 20px 10px rgb(255, 255, 255, 0.6); 
    margin: 50px;
}
/*--------------------- BACKGROUND -------------------------*/

#background {
    /* max-height: 2000px; */
    padding: 60px;
    background-color: rgb(59, 94, 115);
    color: white;
    padding-bottom: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px; 
}

.img-container {
    width: 250px;
    height: 350px;
    background-color: rgba(189, 209, 227, 0.3);
    display: flex;
    flex-direction: column; /* Stack elements vertically inside each container */
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    padding: 20px;
    text-align: center;
    margin-bottom: 20px; 
}

.img-container img {
    width: auto;
    height: 100px;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.icon {
    filter: invert(1) brightness(2); /* Makes black parts white */
}

.greentob {
    filter: hue-rotate(180deg) brightness(3); /* Changes green to white */
}

.img-container:hover {
    background-color: rgba(189, 209, 227, 0.6); 
    transition: background-color 0.3s ease; 
}

/*--------------------- PROJECT -------------------------*/
#project{
    max-height: 2000px;
    background-color: rgb(229, 223, 223);
    /* background-image: linear-gradient(to right, rgb(146, 149, 204) , rgb(132, 133, 199),rgb(154, 141, 199),  rgb(174, 164, 211)); */
    padding: 60px;
    color: rgb(50, 50, 50);
}
#project a{
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-weight: 600;
}
#project a:hover {
    color: #615c5c; 
}
.grid-container {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
}

figure img {
    width: 350px;
    height: 400px;
    max-width: 900px;
    max-height: 950px;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the image horizontally */
}

figcaption h2 {
    font-size: 24px; /* Size of the overlay text */
    margin: 0;
    padding: 10px;
}
figure:hover figcaption {
    opacity: 1; /* Show the overlay on hover */
}
figure:hover {
    transform: translateY(-5px);
}
/* ---------------------CONTACT ---------------------*/
#contact{
    height: 350px;
    padding: 40px;
    background-color:rgb(1, 38, 55);
    color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center; 
    /* gap: 20px; */
}
#contact img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}
#text-left {
    display: flex;
    flex-direction:column;
    /* border: 2px solid red;  */
    width: 25%; /* Set width to 60% of the container */ 
    min-width: 20%;
    max-width: 30%;
    margin-top: -70px;
    padding-left: 100px;
}
#text-left p {
    font-size: 25px; 
    margin: 10px;
}
.icon-container{
    padding: 5px;
    padding-top: 10px;
}
#text-right {
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(225, 10, 154); */
    width: 70%; /* Set width to 30% of the container */
    max-width: 70%; 
    padding-right: 100px;
    margin: 0;
   
}
#text-right h3 {
    margin: 0; /* Remove default margin */
    margin-bottom: 10px; /* Adjust this value as needed */
    margin-top: -70px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333; /* Dark background */
    color: white; /* White text */
    font-size: 20px;
    position: fixed; /* Optional: sticks footer at the bottom of the page */
    bottom: 0;
    width:100%;
    height: 50px;
    line-height: 50px;
}
/* hoover glow icons */
.hoover-g {
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
}

.hoover-g:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.2)); /* Glow effect */
    transform: scale(1.05); /* Slightly scale up the icon */
}

